.card
{    
    border: 0 !important;
}
.food-items .card-img-top
{
    width: 160px;
    height: 160px;
    margin: auto;
    border-radius: 50%;
}
.card-title
{
    margin-top: 8px;
    font-weight: 500;
}
.slick-prev::before,.slick-next::before
{
    color: black !important;
    line-height: 0;     
}
.slick-disabled
{
    opacity: 0;     
}

.brand-items .card-img-top {
    width: 160px;
    height: 160px;
    margin: auto;
    border-radius: 50%;
    object-fit: scale-down;
    box-shadow: 0px 0px 8px 0px rgb(188, 188, 188);
}

a
{
    text-decoration: none !important;
}

.restaurants
{           
    justify-content: space-between;
}
.restaurants .card
{
    padding: 12px;
    border-radius: 12px;    
}
.restaurants .card-body 
{
    padding: 10px 0 0 0;    
}
.restaurants .card-img-top
{
    width: 100%;
    height: 250px;
    object-fit: cover;
    align-self: center;    
    border-radius: 15px;
    position: relative;
}
.restaurants .off
{    
    justify-content: space-between;
}
.restaurants .offer
{
    position: absolute;
    top: 225px;
    padding: 0px 6px;
    font-size: 15px;
}
.restaurants .time,.restaurants .distance
{
    position: absolute;
    top: 225px;
    right: 20px;
    background-color: rgba(228, 228, 228, 0.874);
    color: #000000b5;
}
.restaurants .card:hover {
    box-shadow: 0px 0px 0px 1px rgba(195, 195, 195, 0.171), 0px 2px 15px 0px rgba(155, 155, 155, 0.307);
}
.restaurants .card-text
{
    display: flex;    
    justify-content: space-between;        
}
.restaurants .card-text p
{
    font-size: 18px;
    color: black;
    font-weight: 400;
    margin-bottom: 3px;
    font-family: 'Nunito', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;            
}
.restaurants .card-text .badge 
{
    margin-top: 5px;    
    height: fit-content;
    background-color: #24963F !important;
    padding: 3px 5px;    
}
.restaurants .card-body .text-price
{
    display: flex;
    justify-content: space-between;
    color: #838383;
    margin-left: 0;    
    font-family: 'Nunito', sans-serif;
}
.restaurants .card-body .card-footer 
{
    padding: 0;
}
.restaurants .card-body .card-footer .text-muted
{
    padding: 0;
    margin-left: 0;
    padding-top: 10px;
}