.navbar
{
    padding: 0rem !important;        
}
.navbar-toggler:focus
{
    border: 0;    
    outline: none !important;
}

.nav-item
{
    padding: 0.8rem 0.4rem;
}

.nav-link.active
{  
    color: black !important;      
    margin: 0;        
    border: none;
    box-shadow: none;
}

.nav-link {
    color: rgb(160, 160, 160) !important;    
    font-size: 1.1rem;
    margin: 0;    
    font-family: 'Nunito', sans-serif;
    cursor: pointer;   
    text-decoration: none; 
}

.form-control:focus,
.form-select:focus {
    box-shadow: #66afe999 0px 0px 1px 0px,
        #66afe999 0px 0px 3px 1px;
}

.search-box
{
    box-shadow: #f5f5f599 0px 0px 1px 0px,
            #f2f2f299 0px 0px 3px 1px;    
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 8px;    
    max-width: 50%;
    border: 1px solid var(--border-white);
}

.container
{
    max-width: 1130px !important;
}